# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*$py.class

# ==========================
# Virtual Environment
# ==========================
venv/
.venv/
env/
ENV/

# ==========================
# Environment Variables
# ==========================
.env
.env.*

# ==========================
# Logs
# ==========================
*.log
logs/
app/logs/

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# PyCharm
# ==========================
.idea/

# ==========================
# macOS
# ==========================
.DS_Store

# ==========================
# Windows
# ==========================
Thumbs.db
Desktop.ini

# ==========================
# Testing
# ==========================
.pytest_cache/
.coverage
htmlcov/

# ==========================
# Build
# ==========================
build/
dist/
*.egg-info/

# ==========================
# Temporary Files
# ==========================
tempCodeRunnerFile.py
**/tempCodeRunnerFile.py

# ==========================
# Jupyter
# ==========================
.ipynb_checkpoints/

# ==========================
# Mypy
# ==========================
.mypy_cache/

# ==========================
# Ruff
# ==========================
.ruff_cache/

# ==========================
# Pyright
# ==========================
.pyright/

# ==========================
# Local SQLite DB (if added later)
# ==========================
*.db
*.sqlite3